
body{
    font-family:"Italiana", sans-serif ;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: 
    "wdth" 100;
}
header{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
:root{

    --primary: #CE4B82; 
    --secondary:#b406c4;
    --tertiary: #ba246c;
    --text-color: rgb(228, 221, 228);
    --accent:rgb(192, 99, 89); 
    /* box-shadow: slategray; */
    --alternative: hsla(100,13%,28%,0,7);
    --bgHeaderFooter: antiquewhite;
    --awesome: darkolivegreen;
    --bgCAbout: #56744e;
    --mainBox-shaddow: .2rem .2rem .1rem .2rem rgba(105,96,96,0.75);
    --card-box-shaddow: .5vw .5vw 1vw rgba(85,94,99,0.9);
    --text-shadow: .3rem .3rem .4rem rgba(78,107,91,0.5);
    --mainBg: hsla(146, 4%, 65%, 0.39);
    --bgImg: linear-gradient(to right, var(--awesome), var(--mainBg));
}


@property --top-left {
    syntax:"<percentage>";
    inheritS: false;
    initial-value:50%;
}

@property --Top-right {
    syntax: "<percentage>";
    inherits:false;
    initial-value: 50%;
}

@property --bottom-left {
    syntax: "<percentage>";
    inherits: false;
    initial-value:0%;
}
@property --bottom-right {
    syntax:"<percentage>";
    inherits: false;
    initial-value: 0%;
}
/* nav bar & Footer */
:is(.navbar, footer){
    background-color: var(--bgHeaderFooter);
}
/* nav bar */
:is(.nav-link){
    color: var(--secondary);
}
a { 
    transition: all .5s;
    &:hover {
        transform: scale(1.2);
        text-decoration: underline;
    }
}

img[alt='logo']{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
/* Grid layout */
:is(body){
    display: grid;
    text-align: center;

}
/* create 3 rows */
:is(body){
    grid-template-rows: auto
     minmax(1fr, 100dvh) auto;
}
body{
    background-color: #CE4B82;
}
section{
    text-align: center;
    font-size: medium;
    font-family: "Italiana", sans-serif;
}
img[class='Last']{
    display: flex;
    flex-direction: row;
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
#Skills :is(img){
    width: 5rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
#home :is(img){
    width:500px ;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    
}

.card{
    background-color: rgb(244, 174, 219);
    text-align: center;

}
.flip-picture{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 450px;
    height: 500px;
    perspective: 1000px;
    margin: 2rem;
    border-radius: 100%;
    /* display: grid;
    place-items: center;
    align-items: center; */
   
    
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-picture:hover .overlay {
    transform: rotateY(180deg);
  }
  .front-picture, .back-picture {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  .front-picture {
    background-color: #bbb;
    color: black;
  }
  .back-picture {
    background-color: #474e53;
    color: white;
    transform: rotateY(180deg);
  }
  /* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  */
.skills-wrapper >* {
    margin-block: .5rem;
}

.skills-wrapper {
    width: 50%;
    margin-inline: auto;
}
.skills-wrapper li {
    display: grid;
    grid-template-columns: 5rem 1fr;
    place-items: center;
}
/* }
button{
    color: rgb(76, 18, 57);
    background-color: #a22082;
    float: inline-start;
    padding: 10px 24px;
    cursor: pointer;
    width: 20%;
    display:inline-block;
    margin: 10px;
} */
.card-img-top{ 
    width: 50;
    height: 50;
}